* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit Regular', sans-serif;
    background-color: #414141;
    list-style: none;
}
.navbar {
    background-color: #000000;
    padding: 1rem 2rem;
    text-align: center;
    font-family: 'Kanit SemiBold', sans-serif;
    display: flex;
}