@font-face {
    font-family: 'Kanit Regular';
    src: url('/Fontes/Kanit-Regular.ttf') format('truetype'); /* Fonte Regular */
  }
  * {
    margin: 0;
    padding: 0;

  }
  body {
    font-family: 'Kanit Regular', sans-serif; 
    background-color: #414141; /* Cor de fundo padrão */
    
  }
  .navbar {
    background-color: black;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;;
  
  }
  .logo {
    width: 60px;
    padding: 0px;
  }
   .logo img {
    width: 60px;
    height: auto;
  }
  .nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: 'Kanit Regular', sans-serif;
    transition: color 0.3s; 
  }
  .nav-links a:hover {
    color: #815EBA; /* Cor ao passar o mouse */
  }
  
  @media (max-width: 500px) {

    

    body {
        background-image: url(/Imagens/imagem_inicial.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Kanit Regular', sans-serif;
    }
    
    .logo-start {
       width: 140px;
       height: 140px;
        transform: translateY(-100px);
     
    }
    .resto {
        margin: 15px;
    }

    .nav-links {
      flex-direction: column;
      align-items: center;
    }
    .nav-links a {
      margin-bottom: 10px;
    }

    .startScreen {
        border-radius: 15px;
        background-color: rgb(214, 214, 214);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Altura total da tela */
    transform: translateX(-6px);
        color: rgb(0, 0, 0);
        text-align: center;
        gap: 20px;
        box-shadow: #636363 0px 0px 10px;
        margin: 0 auto;
    }
    .texto {
        display: flex;
        flex-direction: column;
             gap: 30px;

    }
    button {
        padding: 10px 20px;
        font-family: 'Kanit Regular', sans-serif;
        background-color: #815EBA; /* Cor do botão */
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: #636363 0px 0px 10px;
    }
  }
  body {
    background-image: url(/Imagens/imagem_inicial.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Kanit Regular', sans-serif;
}

.logo-start {
   width: 140px;
   height: 140px;
    transform: translateY(-120px);
 
}
.resto {
    margin: 15px;
}


.startScreen {
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
    display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura total da tela */
    width: 65vh;
    color: rgb(0, 0, 0);
    text-align: center;
    gap: 20px;
    box-shadow: #636363 0px 0px 10px;
    margin: 0 auto;
    text-align: center;
}
.texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 24px;

}
button {
    padding: 10px 20px;
    font-family: 'Kanit Regular', sans-serif;
    background-color: #815EBA; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #636363 0px 0px 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}
button:active {
    background-color: #322648; /* Cor ao passar o mouse */
    scale: 0.95; /* Efeito de clique */
}

