

@font-face {
    font-family: 'Kanit SemiBold';
    src: url('Kanit-SemiBold.ttf') format('truetype');/* Fonte SemiBold */
}
@font-face {
    font-family: 'Kanit Bold';
    src: url('Kanit-Bold.ttf') format('truetype'); /* Fonte Bold */
}
@font-face {
    font-family: 'Kanit Light';
    src: url('Kanit-Light.ttf') format('truetype'); /* Fonte Light */
}
@font-face {
    font-family: 'Kanit Medium';
    src: url('Kanit-Medium.ttf') format('truetype'); /* Fonte Medium */
}
@font-face {
    font-family: 'Kanit Regular';
    src: url('Kanit-Regular.ttf') format('truetype'); /* Fonte Regular */
}
body {
    margin: 0; /* Remove margens padrão do body */
    padding: 0; /* Remove preenchimento padrão do body */
    background-color: #414141; /* Cor de fundo padrão */
    font-family: 'Kanit Regular', sans-serif; /* Aplica a fonte Kanit Regular */
    color: #333; /* Cor do texto padrão */
}
.corpo {
    text-align: center; /* Centraliza o texto */
    padding: 80px; /* Espaçamento interno */
    margin: auto; /* Centraliza o elemento */
    background-image: url('fundo_login.jpg'); /* Caminho da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição */
    background-position: center center; /* Centraliza a imagem */
    font-family: 'Kanit SemiBold', sans-serif; /* Aplica a fonte Kanit SemiBold */
    background-color: grey; /* Cor de fundo padrão */

}


input[type="email"] {  
    width: 350px; /* Largura do botão email */
    padding: 5px; /* Preenchimento interno do botão email */
    font-size: 14px; /* Tamanho da fonte do botão email */
    border: 0px solid #aaa; /* Borda do botão email */
    border-radius: 10px; /* Bordas arredondadas do botão email */
    background-color: #ffffffe1; /* Cor de fundo do botão email */
    outline: none; /* Remove o contorno padrão do botão email */
    font-family: 'Kanit Light', sans-serif; /* Aplica a fonte Kanit Light */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* Sombra do campo de entrada */
    transform: translateY(-100%); /* Move o botão email para cima */
}

input[type="password"] {
    width: 350px; /* Largura do botão senha */
    padding: 5px; /* Preenchimento interno do botão senha */
    font-size: 14px; /* Tamanho da fonte do botão senha */
    border: 0px solid #aaa; /* Borda do botão senha */
    border-radius: 10px;    /* Bordas arredondadas do botão senha */
    background-color: #ffffffe1; /* Cor de fundo do botão senha */
    outline: none; /* Remove o contorno padrão do botão senha */
    font-family: 'Kanit Light', sans-serif; /* Aplica a fonte Kanit Light */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* Sombra do campo de entrada */
    transform: translateY(-150%); /* Move o botão senha para cima */
}
h3 {
    transform: translateY(-100%); /* Move o título para cima */
}
.logo {
    width: 70px; /* Largura do logo */
    position: absolute; /* Posição absoluta para o logo */
    top: 0; /* Alinha o logo ao topo */
    left: 50%; /* Alinha o logo ao centro horizontalmente */
    transform: translateX(-50%); /* Centraliza o logo */
    z-index: 1; /* joga ela pro fundo */
}

button[name="login"] {
    width: 150px; /* Largura do botão de login */
    color: #815EBA; /* Cor do texto do botão de login */
    padding: 5px; /* Preenchimento interno do botão de login */
    font-size: 14px; /* Tamanho da fonte do botão de login */
    border: 3px solid #815EBA; /* Borda do botão de login */
    border-radius: 10px; /* Bordas arredondadas do botão de login */
    background-color: #ffffffe1; /* Cor de fundo do botão de login */
    outline: none; /* Remove o contorno padrão do botão de login */
    font-family: 'Kanit Medium', sans-serif; /* Aplica a fonte Kanit Medium */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* Sombra do campo de entrada */
    transform: translateY(-200%); /* Move o botão de login para cima */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    align-items: center; /* Alinha o conteúdo do botão ao centro */
    transform: translateY(-50%); /* Move o botão de login para cima */
    
}
button[name="cadastrar"] {   
    width: 150px; /* Largura do botão de cadastrar */
    color: #ffffff; /* Cor do texto do botão de cadastrar */
    padding: 5px; /* Preenchimento interno do botão de cadastrar */
    font-size: 14px; /* Tamanho da fonte do botão de cadastrar */
    border: 3px solid #815eba; /* Borda do botão de cadastrar */
    border-radius: 10px; /* Bordas arredondadas do botão de cadastrar */
    background-color: #815eba; /* Cor de fundo do botão de cadastrar */
    outline: none; /* Remove o contorno padrão do botão de cadastrar */
    font-family: 'Kanit Medium', sans-serif; /* Aplica a fonte Kanit Medium */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* Sombra do campo de entrada */
    transform: translateY(-200%); /* Move o botão de cadastrar para cima */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    align-items: center; /* Alinha o conteúdo do botão ao centro */
    transform: translateY(-80%); /* Move o botão de cadastrar para cima */
}

button[name="login"]:active {
    width: 145px; /* Dá aquele efeito de "afundar" */
    background-color: #bda3e9; /* Cor diferente durante o clique */
  }
  button[name="cadastrar"]:active {
    width: 145px; /* Dá aquele efeito de "afundar" */
    background-color: #bda3e9; /* Cor diferente durante o clique */
  }

  .menuInicial {
    top: 0; /* Alinha o menu ao topo */
    left: -20%; /* Alinha o menu à esquerda */
    transform: translateY(-1050%); /* Move o menu para cima */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    scale: 0.04;    /* Reduz o tamanho do menu */
    position: absolute; /* Posição absoluta para o menu */
    z-index: 1; /* Coloca o menu acima de outros elementos */
    align-items: center; /* Alinha o conteúdo do menu ao centro */
    
}
a {
    color: rgb(0, 0, 0); /* Cor do texto do link */
    text-align: start;  /* Alinha o texto à esquerda */
    position: absolute; /* Posição absoluta para o link */
    transform: translateY(-1650%); /* Move o link para cima */
    z-index: 1; /* Coloca o link acima de outros elementos */
    text-decoration: none; /* Remove o sublinhado do link */
    outline: none; /* Remove o contorno padrão do link */
}